<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="loadingDetails" *ngIf="!formDetails" >
    <div class="lds-css ng-scope">
        <div style="width:100%;height:100%" class="lds-ripple">
            <div></div>
            <div></div>
        </div>
    </div>
</div>

<div class="noDetailsFound" *ngIf="formDetails">

    <div class="form-signin">
        <div class="text-center mb-4">
            <img class="mb-4" src="https://financesonline.com/uploads/2019/01/TxtSync-Logo-220x90.png" alt="">
            <h1 class="h3 mb-20 font-weight-normal">We are currently unable to opt you out of text messaging via our online wizard.</h1>
            <h5 class="font-weight-normal mt-30 mb-30">Please contact <a href="mailto:hello@txtsync.com">hello@txtsync.com</a> so we can assist you further</h5>
        </div>
    </div>



    <p class="mb-3 text-muted text-center copyRight">Provided by TxtSync</p>
</div>