<div class="userProfile">
  <div class="detailsHolder text-left">
    <h3><i class="fa fa-user"></i>  {{userDetails.Contact.FullName}}</h3>
    <h4 *ngIf="userDetails.Contact.CompanyName"><i class="fa fa-office"></i>  {{userDetails.Contact.CompanyName}}</h4>
    <h6 *ngIf="userDetails.Contact.MobileNumber"><i class="fa fa-phone"></i>  {{userDetails.Contact.MobileNumber}}</h6>
  </div>
</div>
<div class="row">
  <div class="col-12 p-20">

    <div class="switch_box box_1">
      <h3 for="checkbox3">{{ 'wouldYouLike' | translate}}</h3>
      <input type="checkbox" id="checkbox3" class="switch_1" [(ngModel)]="userDetails.Contact.AllowSMS">
      <div class="clearfix"></div>
    </div>
    <button class="btn btn-lg btn-primary btn-block" type="submit" (click)="saveProfile()">{{ 'save' | translate}}</button>
  </div>
</div>

<p class="p-30 text-muted text-center copyRight">Provided by TxtSync</p>
   <select #langSelect (change)="translate.use(langSelect.value)">
          <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
        </select>
