<form class="form-signin" *ngIf="CustomerDetails && codeSent == false" #phoneFormModel="ngForm" [formGroup]="phoneForm" (submit)="checkDetails()">
  <div class="text-center mb-4 logoSection">
    <img class="mb-4" src="{{CustomerDetails.WebOptOutSettings.LogoURL}}" alt="">
    <h1 class="h3 mb-3 font-weight-normal">{{CustomerDetails.WebOptOutSettings.TitleText}}</h1>
  </div>

  <div class="form-label-group">
    <input type="text"
           class="custom form-control phoneControl"
           ng2TelInput
           [ngClass]="{'is-valid': ContactTelephone}"
           [ng2TelInputOptions]="modalOptions"
           (hasError)="hasError($event)"
           (ng2TelOutput)="getNumber($event)"
           (keyup)="getNumber($event)"
           (intlTelInputObject)="telInputObject($event)"
           (countryChange)="onCountryChange($event)"/>

  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit" [disabled]="(ContactTelephone == '')">{{ 'continue' | translate}}</button>
</form>

<form class="form-signin" *ngIf="CustomerDetails && codeSent != false" #codeModel="ngForm" [formGroup]="codeForm" (submit)="checkCode()">
  <div class="text-center mb-4">
    <img class="mb-4" src="{{CustomerDetails.WebOptOutSettings.LogoURL}}" alt="">
    <h1 class="h3 mb-3 font-weight-normal">{{CustomerDetails.WebOptOutSettings.TitleText}}</h1>
    <div class="alert alert-info" [translate]="'enterCode'" [translateParams]="{value: this.codeSent.localNumber}"></div>
  </div>

  <div class="form-label-group row">
    <div class="col-3">
      <input type="tel" #code1Element formControlName="code1" name="code1" class="form-control pinEntry" maxlength="1" (keyup)="nextInput()" [(ngModel)]="code1">
    </div>
    <div class="col-3">
      <input type="tel" #code2Element formControlName="code2" name="code2" class="form-control pinEntry" maxlength="1" (keyup)="nextInput()" [(ngModel)]="code2">
    </div>
    <div class="col-3">
      <input type="tel" #code3Element formControlName="code3" name="code3" class="form-control pinEntry" maxlength="1" (keyup)="nextInput()" [(ngModel)]="code3">
    </div>
    <div class="col-3">
      <input type="tel" #code4Element formControlName="code4" name="code4" class="form-control pinEntry" maxlength="1" (keyup)="nextInput()" [(ngModel)]="code4">
    </div>
  </div>
  <button class="btn btn-lg btn-primary btn-block" type="submit">{{ 'continue' | translate}}</button>
</form>

<div class="languageSelect">
  Language:
  <select class="form-control" #langSelect (change)="translate.use(langSelect.value)">
    <option *ngFor="let lang of translate.getLangs()" [value]="lang" [selected]="lang === translate.currentLang">{{ lang }}</option>
  </select>
</div>
