@import "assets/fonts/fontawesome/fontawesomeloader.css";

body {
  background: url("/assets/auth-bg.jpg") no-repeat center center;
  width: 100%;
  height: 100%;
    background-size: cover;
  padding-top: 40px;
  padding-bottom: 40px;
}

input#phone {
  height: 52px;
  font-size: 14pt;
}

input#phone::placeholder {
  color: #dedede;
}

.loadingDetails {

  height: 100vh;
  width: 100%;
  position: fixed;
  top: 0px;
  left: 0px;
  background: #fff;
  padding-top: 30px;
  padding-bottom: 30px;


  @keyframes lds-ripple {
    0% {
      top: 96px;
      left: 96px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 18px;
      left: 18px;
      width: 156px;
      height: 156px;
      opacity: 0;
    }
  }
  @-webkit-keyframes lds-ripple {
    0% {
      top: 96px;
      left: 96px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 18px;
      left: 18px;
      width: 156px;
      height: 156px;
      opacity: 0;
    }
  }

  .lds-ripple {
    position: relative;
  }

  .lds-ripple div {
    box-sizing: content-box;
    position: absolute;
    border-width: 4px;
    border-style: solid;
    opacity: 1;
    border-radius: 50%;
    -webkit-animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
    animation: lds-ripple 2s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }

  .lds-ripple div:nth-child(1) {
    border-color: #93dbe9;
  }

  .lds-ripple div:nth-child(2) {
    border-color: #689cc5;
    -webkit-animation-delay: -1s;
    animation-delay: -1s;
  }

  .lds-ripple {
    width: 200px !important;
    height: 200px !important;
    -webkit-transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
    transform: translate(-100px, -100px) scale(1) translate(100px, 100px);
  }

  .lds-css {
    top: 50%;
    left: 50%; /* bring your own prefixes */
    transform: translate(-50%, -50%);
    position: relative;
    /* top: 0px; */
    /* left: 0px; */
    text-align: center;
  }

  .lds-ripple {
    display: inline-block;
  }
}

:root {
  --input-padding-x: .75rem;
  --input-padding-y: .75rem;
}

html,
body {
  height: 100%;
}

body {
}

app-root {
  display: block;
  position: relative;
}

body {
  width: 100%;
}

.intl-tel-input.allow-dropdown {
  width: 100%;
}

.noDetailsFound {
  background: white;
  display: block;
  padding: 20px;
  border-radius: 3px;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}
input.phoneControl {
  height: 51px;
  font-size: 17pt;
}

app-two-factor {
  background: white;
  display: block;
  padding: 20px;
  border-radius: 3px;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

app-profile-page {
  background: white;
  display: block;
  border-radius: 3px;
  position: relative;
  max-width: 400px;
  margin: 0 auto;
}

.form-signin {
  width: 100%;
  max-width: 650px;
  padding: 15px;
  margin: 0 auto;
}

.form-label-group {
  position: relative;
  margin-bottom: 1rem;
}

.copyRight {
  font-size: 6pt;
}

.pinEntry {
  font-size: 25pt;
  padding: 20px;
}

.iconHolder {
  display: inline-block;
  width: 20%;
  text-align: left;
  vertical-align: top;
  margin-right: 14px;
  float: left;
  /* margin-left: 10px; */
}

.detailsHolder {
  display: block;
  padding-left: 14px;
  /* word-break: break-word; */
}

.userProfile {
  background: #e6e6e6;
  padding: 14px;
  color: #656565;
}

ngx-avatar {
  position: relative;
}


input[type="checkbox"].switch_1{
  font-size: 68px;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  width: 1.5em;
  height: 0.7em;
  background: #ddd;
  border-radius: 1.5em;
  position: relative;
  cursor: pointer;
  outline: none;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked{
  background: #0ebeff;
}

input[type="checkbox"].switch_1:after{
  position: absolute;
  content: "";
  width: 0.7em;
  height: 0.7em;
  border-radius: 50%;
  background: #fff;
  -webkit-box-shadow: 0 0 .25em rgba(0,0,0,.3);
  box-shadow: 0 0 .25em rgba(0,0,0,.3);
  -webkit-transform: scale(.7);
  transform: scale(.7);
  left: 0;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

input[type="checkbox"].switch_1:checked:after{
  left: calc(100% - 0.7em);
}


.switch_box.box_1 {
  background: #ffffff;
  padding: 3px;
  color: #656565;
  border-bottom: 1px solid #e6e6e6;
  padding-left: 11px;
  padding-right: 11px;
  margin-bottom: 10px;
  /* border-radius: 5px; */

  label {
    margin-top: 5px;
    float: left;
  }
}

.switch_1 {
  float: right;
  margin-top: 9px;
}

input#checkbox3 {
    float: left;
    margin-top: 8px;
    margin-bottom: 10px;
}

.tagDetails {
  padding-left: 10px;
  padding-right: 10px;
}
.tag {
  border: 1px solid #e6e6e6;
}


@media (max-width: 425px) {
  body {
    padding-top: 0px;
    margin-top: 0px;
  }
  app-profile-page {
    margin: 0px;
    max-width: 100%;
    width: 100%;
  }
  .switch_box.box_1 label {
    max-width: 60%;
  }
}

/* Switch 1 Specific Style End */
.form-signin img {
  width: 100%;
}

.logoSection img {
  width: 100%;
}
